<div class="navbar">
   <ul>
      <li><a href="/" class="profile-tab">Profile</a></li>
      <li><a href="/resume" class="resume-tab">Resume</a></li>
      <li><a href="/portfolio" class="portfolio-tab">Portfolio</a></li>
      <li><a href="/contact" class="connect-tab">Connect</a></li>
   </ul>
</div>
