
<!DOCTYPE html>
<html lang="en">
   <head>
      <% include partials/head.ejs %>
   </head>
   <body>
      <div id="container">
         <div id="content">
           <% include partials/menu.ejs %>
            <div id="profile">
               <div class="about">
                  <div class="profile-photo"><img src="images/jasondp.jpg" width="127" height="154" /></div>
                  <h1>JASON BRIKMAN</h1>
                  <h3><i>Full Stack Web Developer</i></h3>
                  <p>I am an award winning Full Stack Web Developer and UI/UX Javascript specialist.
Feel free to take a look at my latest projects on the web portfolio page.
Based in London, UK. Enquires at rafael@caferati.me. </p>
               </div>
               <ul class="basic-info">
                  <li>
                     <h3>BASIC INFO </h3>
                  </li>
                  <li><label>Name</label><span>Jason Brikman</span></li>
                  <li><label>Birthdate</label><span>December 13, 1988</span></li>
                  <li><label>Address</label><span>Toronto, Ontario</span></li>
                  <li><label>Phone</label><span>+1 647 450 020</span></li>
                  <li><label>Email</label><span><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="b1d4dcd0d8ddf1d4dcd0d8dd9fd2dedc">[email&#160;protected]</a></span></li>
                  <li><label>Website</label><span>www.makeconline.com</span></li>
               </ul>
            </div>
         </div>
      </div>
      </div>

   </body>
</html>
