
<!DOCTYPE html>
<html lang="en">
   <head>
      <% include partials/head.ejs %>
   </head>
   <body>
      <div id="container">
         <div id="content">
           <% include partials/menu.ejs %>

            <div id="resume">
               <div class="resume-section">
                  <h3 class="main-heading">Educational Background</h3>
                  <ul class="date">
                     <li>
                        <div class="date-box">
                           <h4>Crest High School<span class="date-range">2003 - 2007</span></h4>
                           <h5>Effingham, Toronto, Ontario</h5>
                        </div>
                     </li>
                     <li>
                        <div class="date-box">
                           <h4>Waterloo University<span class="date-range">2007 - 2011</span></h4>
                           <h5>Waterloo, Ontario</h5>
                        </div>
                     </li>
                     <div class="clear"></div>
                  </ul>
                  <h3 class="main-heading">Employment History</h3>
                  <ul class="date">
                     <li>
                        <div class="date-box">
                           <h4>Think On Tech<span class="date-range">2011 - 2012</span></h4>
                           <h5>Sarnia, Ontario</h5>
                        </div>
                     </li>
                     <li>
                        <div class="date-box">
                           <h4>Creative Design Mind<span class="date-range">2012 - 2013</span></h4>
                           <h5>New York City, USA</h5>
                        </div>
                     </li>
                  </ul>
               </div>
               <div class="skills-section">
                  <h3 class="main-heading"><span>Technical Skills</span></h3>
                  <ul class="skills">
                     <li>
                        <h4>* Mean Developer</h4>
                     </li>
                     <li>
                        <h4>* Wordpress </h4>
                     </li>
                     <li>
                        <h4>* Php,Asp,Nodejs and ruby on rails</h4>
                     </li>
                     <li>
                        <h4>* Flash Dev.</h4>
                     </li>
                  </ul>
               </div>
            </div>


         </div>
      </div>
      </div>

   </body>
</html>
